.main-view {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 670px;
  min-width: 1010px;
}

.info {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 500px;
  padding: 28px 40px;

  background-image: url("../img/background-img.png");
  background-size: auto;
  background-repeat: no-repeat;

  &--start {
    justify-content: center;

    font-weight: 500;

    border-radius: 25px;
    background: linear-gradient(
      158deg,
      rgba(144, 217, 224, 0.9) 0.2%,
      rgb(103 151 255 / 90%) 100%
    );
  }

  &__start-message {
    justify-content: center;
    text-align: center;
  }

  &__top {
    position: relative;
  }

  &__name {
    display: inline-block;

    max-width: 390px;
    margin-bottom: 4px;

    font-size: 55px;
  }

  &__favorit-btn {
    position: absolute;
    top: 10px;
    right: 0;

    width: 50px;
    height: 50px;
  }

  &__favorit-img {
    width: 100%;
    opacity: 0.8;
  }

  &__date {
    margin-bottom: 8px;

    font-size: 27px;
    font-weight: 500;
  }

  &__day {
    font-size: 23px;
    font-weight: 600;
  }

  &__img {
    height: 95px;
    width: 95px;
  }

  &__temp,
  span {
    font-size: 65px;
    font-weight: 700;
  }

  &__feels-like {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
  }

  span {
    display: inline;
  }

  &__status {
    display: inline-block;
    font-weight: 500;
  }

  &__btn {
    position: absolute;
    bottom: 30px;
    right: 32px;

    padding: 7px 12px;

    font-size: 17px;
    font-weight: 500;
    color: var(--light-color);

    border: none;
    border-radius: 10px;
    background: linear-gradient(
      91deg,
      rgba(144, 217, 224, 0.9) 0.2%,
      rgba(72, 113, 201, 0.9) 100%
    );
  }
}

.locations {
  position: absolute;
  top: 0;
  right: 0;

  width: 560px;
  height: 666px;
  padding: 28px 40px;
  padding-left: 90px;

  border-radius: 25px;
  background: #222831;

  &__input {
    position: relative;

    width: 330px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 45px;
    padding: 5px 10px;

    font-size: 15px;
    font-weight: 600;
    color: var(--light-color);
    text-align: center;

    border: none;
    border-radius: 10px;
    background: linear-gradient(
      91deg,
      rgba(144, 217, 224, 0.9) 0.2%,
      rgba(84, 96, 230, 0.9) 100%
    );

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
    &:focus::-moz-placeholder {
      color: transparent;
    }
    &:focus:-moz-placeholder {
      color: transparent;
    }
    &:focus:-ms-input-placeholder {
      color: transparent;
    }

    &::-webkit-input-placeholder {
      color: var(--light-color);
    }
    &::-moz-placeholder {
      color: var(--light-color);
    } /* Firefox 19+ */
    &:-moz-placeholder {
      color: var(--light-color);
    } /* Firefox 18- */
    &:-ms-input-placeholder {
      color: var(--light-color);
    }
  }

  &__title {
    margin-left: 5px;
    margin-bottom: 10px;

    font-size: 29px;
    font-weight: 700;
  }

  &__list {
    max-height: 450px;
    overflow: auto;
  }

  &__prev {
    margin-top: 10px;
    margin-left: 5px;

    font-size: 15px;
    font-weight: 400;
  }

  &__item {
    position: relative;

    margin-bottom: 15px;
    padding: 13px 25px;

    border-radius: 10px;
    background: linear-gradient(
      91deg,
      rgba(144, 217, 224, 0.9) 0.2%,
      rgba(84, 96, 230, 0.9) 100%
    );
  }

  &__btn {
    width: 325px;

    font-size: 27px;
    font-weight: 500;
    text-align: left;

    color: var(--light-color);
  }

  &__remove-btn {
    position: absolute;
    top: 12px;
    right: 7px;

    width: 40px;
    height: 40px;
  }

  &__remove-img {
    opacity: 0.5;
    width: 100%;
  }
}
