<div class="container">
  <div class="main-view">
    <div class="info info--start">
      <div class="info__start-message">
        Welcome to weather app! Find out the weather forecast in any city!
      </div>
      <div class="info__top is-hidden">
        <div class="info__name">---</div>
        <button class="info__favorit-btn btn-reset">
          <img
            src="img/icons/heart.png"
            alt="heart icon"
            class="info__favorit-img"
          />
        </button>
        <div class="info__date">20 Jun 2022</div>
        <div class="info__day">Tuesday</div>
      </div>
      <div class="info__bottom is-hidden">
        <img class="info__img" src="img/icons/sun.png" alt="weather icon" />
        <div class="info__temp">---&nbsp;&deg;C</div>
        <div class="info__feels-like">Feels like: ---&nbsp;&deg;C</div>
        <div class="info__status">---</div>
        <button class="info__btn btn-reset is-hidden">More info</button>
      </div>
    </div>
    <div class="locations">
      <div class="locations__change">
        <form class="locations__form" action="">
          <input
            class="locations__input"
            type="text"
            placeholder="Search location"
          />
        </form>
      </div>
      <div class="locations__favorite">
        <div class="locations__title">Favorite locations:</div>
        <ul class="locations__list list-reset">
          <li class="locations__prev">
            Press the heart icon and add your first favorite city
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
