<div class="more-info is-hidden">
  <div class="more-info__box">
    <button class="more-info-close__btn btn-reset">
      <img src="img/icons/cross.png" alt="" class="more-info-close__img" />
    </button>
    <p class="more-info__item">Sunrise: <span id="sunrise">9:00</span></p>
    <p class="more-info__item">Sunset: <span id="sunset">19:00</span></p>
    <p class="more-info__item">
      Atmospheric pressure: <span id="pressure">1015 hPa</span>
    </p>
    <p class="more-info__item">Humidity: <span id="humidity">64%</span></p>
    <p class="more-info__item">
      Visibility: <span id="visibility">10 km</span>
    </p>
    <p class="more-info__item">Wind speed: <span id="wind">2 m/s</span></p>
  </div>
</div>
